# Configuration file

display {
    # Units to use when displaying power. Valid values: MJ, EU, RF
    S:PowerShowUnits=RF
}


nei {
    B:"Add Extractor Recipes"=false
    B:"Add Imprinter Recipes"=false
    B:"Add Liquifier Recipes"=false
    B:"Add Mutagen Producer Recipes"=false
    B:"Add Mutatron Recipes"=false
    B:"Add Replicator Recipes"=false
    B:"Add Sampler Recipes"=false
    B:"Add Samples to Search"=false
    B:"Add Transposer Recipes"=false
}


rendering {
    # Higher = less particles
    I:"Bee Effects Frequency"=2
    B:"Render Bee Effects"=true
}


